.box{
    height:100px;
    width:300px;
    background-color: pink;
    /* animation-name: font;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation:font 1s ease-in-out 0s infinite alternate;
}

@keyframes font {
    from{
        font-size: 20px;
        background-color: green;
    }
    to{
        font-size: 40px;
        background-color: blue;
    }
}

