*{
    font-family: 'Courier New', Courier, monospace;
}
h1,h3{
    color:#b92b27;
}
#login{
    background-color: white;;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: white;
}
nav a{
    color: purple;
    background-color: yellow;
}
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: azure;
}
div>input{
    background-color: rgb(195, 180, 196);
}
input[type="password"]{
    color: green;
}
input[type="text"]{
    color: red;
}

button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: darkblue;
}

p:active{
    font-weight: bold;
    color:green;
}
input[type="radio"]:checked+label{
    color:red;
    font-weight: bold;
}
.post:nth-of-type(2n){
    background-color: aquamarine;
}
h1::first-letter{
    color:green;
}
h3::selection{
    background-color: yellow;;
}