.container{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
div div{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}
div>div{
    background-color: red;
}
div:nth-child(2){
    background-color: yellow;
}
div:nth-child(3){
    background-color: green;
}