<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page</h1>
    <h3><%= 1+8%></h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsa ab,
      nesciunt, atque ipsam, tenetur unde ex repellat quod saepe voluptates
      similique in. Dignissimos rerum ratione omnis cumque, esse assumenda atque
      amet molestias! Unde deserunt reprehenderit dolorum minus veritatis saepe
      doloremque accusantium quas, commodi aliquid!
    </p>
  </body>
  <button>click me</button>
</html>
