<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write New Chat</title>
  </head>
  <body>
    <h3>Write New Chat</h3>
    <form action="/chats" method="post">
      <input type="text" placeholder="Who are you?" name="from" />
      <br />
      <br />
      <textarea
        name="message"
        id=""
        placeholder="write your message ..."
      ></textarea>
      <br />
      <br />
      <input type="text" placeholder="Add receiver" name="to" />
      <br />
      <br />
      <button>Create Chat</button>
    </form>
  </body>
</html>
